<mat-card class="card" *ngFor="let thing of filteredData">
  <div class="devicephoto">
    <img src="../../../assets/ac.jpeg" width="400px" alt="device image" />
  </div>
  <div class="devicedata">
    <h2>{{ thing.device?.ThingName.S }}</h2>
    <p>Device Brand : {{ thing.device?.ThingBrand.S }}</p>
    <p>Wattage : {{ thing.device?.Wattage.N }}W</p>
    <p>Power Consume : {{ thing.device?.PowerConsume.N }}</p>
    <p style="margin-bottom: 2px">Status : {{ thing.device?.Status.S }}</p>
    <div class="temperature" *ngIf="thing.device.ThingType?.S === 'AC'">
      <p>Temperature :</p>
      <div class="indectemp">
        <mat-icon class="icon" (click)="increaseTemperature(thing)">add</mat-icon>
        <span style="margin: auto 20px">{{thing.temperature}}</span>
        <mat-icon class="icon" (click)="decreaseTemperature(thing)">remove</mat-icon>
      </div>
      <button [disabled]="!thing.isPower" (click)="setTemperature(thing, thing.device.ThingId.N)"
        mat-raised-button
        style="
          background-color: rgb(255, 255, 255);
          box-shadow: 1px 6px 14px rgb(94, 93, 93);
          border-radius: 18px;
          padding: 8px;
          margin: auto 12px;
          height: 40px;
        "
      >
        SET
      </button>
    </div>
  </div>
  <div class="h2nswitch">
    <button ejs-button cssClass='e-flat' content='Button'></button>
    <div class="toggleWrapper">
      <input
        type="checkbox"
        name="toggle1"
        id="toggle1"
        class="mobileToggle"
        [(ngModel)]="thing.isPower"
        (click)="powerSwitch(thing)"
      />
      <label for="toggle1"></label>
    </div>
    <span style="color: red; cursor: pointer; margin: 4px"
      ><mat-icon>clear</mat-icon></span
    >
  </div>
</mat-card>
